@font-face {
  font-family: "ROCK";
  src: url("../fonts/ROCK.TTF") format("truetype");
}

@font-face {
  font-family: "TulpenOne";
  src: url("../fonts/TulpenOne-Regular.ttf") format("truetype");
}