@font-face {
  font-family: "ROCK";
  src: url("../fonts/ROCK.TTF") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/SVN-Gilroy Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "TulpenOne";
  src: url("../fonts/TulpenOne-Regular.ttf") format("truetype");
}