@import "fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "ROCK", serif;
  background-color: #2d3436;
  color: #dfe6e9;
  font-size: 14px;
  line-height: 1.5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1003;
  &-logo {
    height: 100px;
    img {
      height: 100%;
    }
  }
  &-nav {
    display: flex;
    align-items: center;
    gap: 24px;
    &-item {
      cursor: pointer;
    }
  }
}

.hero {
  height: 100vh;
  background: url("https://i.pinimg.com/564x/0a/e3/29/0ae329ab2f5cac064a5ab8affdaa2b28.jpg") center no-repeat;
  background-size: cover;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#2d3436, .3);
    z-index: 1;
  }
  &-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 450px;
    img {
      width: 100%;
    }
  }
}

.about {
  padding: 0 60px;
  margin-top: 60px;
  &-item {
    margin-top: 120px;
  }
  &-text {
    display: flex;
    gap: 48px;
    margin-bottom: 30px;
    &-row {
      flex-direction: column;
      gap: 24px;
    }
  }
  &-heading {
    font-size: 40px;
    //-webkit-text-fill-color: transparent;
    //-webkit-text-stroke-width: 1px;
    //-webkit-text-stroke-color: #dfe6e9;
    width: 50%;
    .action {
      font-size: 16px;
      text-decoration: none;
      display: inline-block;
      padding: 8px 12px;
      background-color: #d63031;
      border-radius: 4px;
      color: #dfe6e9;
    }
  }
  &-text-row &-heading {
    flex: 1;
    width: 100%;
  }
  &-content {
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    width: 50%;
    p {
      margin-bottom: 16px;
    }
    ul > li {
      margin-bottom: 16px;
      list-style-position: inside;
      padding-left: 32px;
    }
  }
  &-text-row &-content {
    flex: 1;
    width: 100%;
  }
}

.page {
  &-header {
    position: relative;
    max-height: 450px;
    height: 450px;
    background: url("https://images.unsplash.com/photo-1622052416859-d274b64c31f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#2d3436, .3);
      z-index: 1;
    }
  }
  &-heading {
    position: relative;
    z-index: 2;
    font-size: 60px;
  }
}

.hiring {
  font-family: 'Gilroy', sans-serif;
  padding: 0 60px;
  margin-top: 60px;
  &-item {
    border-bottom: solid 1px #636e72;
    padding-bottom: 30px;
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
  &-title {
    font-size: 20px;
    font-weight: 500;
  }
  &-info {
    display: flex;
    flex-direction: column;
    .row {
      margin-bottom: 4px;
      &:first-child {
        display: flex;
        gap: 32px;
      }
    }
    &-item {
      span {
        display: inline-block;
        width: 80px;
      }
    }
  }
  &-main {
    padding-left: 30px;
    margin-top: 16px;
    display: flex;
    gap: 60px;
    .col {
      flex: 1;
    }
  }
  &-subtitle {
    margin-bottom: 6px;
    font-size: 16px;
  }
  &-content {
    list-style-position: inside;
    font-size: 14px;
  }
}

.footer {
  border-top: solid 1px #636e72;
  margin-top: 120px;
  padding: 60px;
}